<div>
  <h4>{{threadToDisplay.title}}</h4>
  <p>
    --submitted by {{threadToDisplay.author}}({{threadToDisplay.category}})
  </p>
  <p>
    {{threadToDisplay.content}}
  </p>
  <h4>Edit Thread:</h4>
  <label>Title:</label>
  <input [(ngModel)]="threadToDisplay.title">
  <label>Author:</label>
  <input [(ngModel)]="threadToDisplay.author">
  <label>Category:</label>
  <input [(ngModel)]="threadToDisplay.category">
  <label>Content:</label>
  <input  [(ngModel)]="threadToDisplay.content">
  <button routerLink=''>Update</button>
</div>
